<nav class ='navbar'>
  <div class='logo'><img src="images/Logo-01.png" alt="Trystuff Logo"></div>
  <form class="form-inline" action="/login" method="POST">
    <input type="hidden" name="email" value="bobsmith@example.com">
    <input type="hidden" name="password" value="password789">
    <button id="login-button" type="submit">Login</button>
  </form>
</nav>

