<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('partials/header') %>

<body>
  <%- include('partials/nav') %>
  <div class="item_entry">
    <h3>What do you want to try next?</h3>
    <form class="form-inline" action="/items" method="POST">
      <div class="add-form">
        <input id="item-input" type="text" name="item"/>
        <button id="add-button" type="submit" >ADD</button>
    </div>
    </form>
  </div>
  <div class="categories">
  <div class="category-box">
    <div class="category-header restaurants">Restaurants</div>
    <div class="list-box">
      <ul>
        <li class="item">
            <form class="item-form" action="/" method="POST">
              <button><i class="fa-solid fa-square-check"></i></button><div class="item-divider"><span>Need Item Name Here</span><div><img class="grip" src="/images/gripIcon-01.png"></div></div>
            </form>
        </li>
        <li class="item">
          <form class="item-form" action="/" method="POST">
            <button><i class="fa-solid fa-square-check"></i></button><div class="item-divider"><span>Need Item Name Here</span><div><img class="grip" src="/images/gripIcon-01.png"></div></div>
          </form>
        </li>
      </ul>
    <div class="category-footer restaurants"><span>more</span><i class="fa-solid fa-caret-down"></i></div>
  </div>
  </div>
  <div class="category-box">
  <div class="category-header movies">Movies</div>
    <div class="list-box">
      <ul>
        <li class="item">
          <form class="item-form" action="/" method="POST">
            <button><i class="fa-solid fa-square-check"></i></button><div class="item-divider"><span>Need Item Name Here</span><div><img class="grip" src="/images/gripIcon-01.png"></div></div>
          </form>
        </li>
        <li class="item">
          <form class="item-form" action="/" method="POST">
            <button><i class="fa-solid fa-square-check"></i></button><div class="item-divider"><span>Need Item Name Here</span><div><img class="grip" src="/images/gripIcon-01.png"></div></div>
          </form>
        </li>
      </ul>
      <div class="category-footer movies"><span>more</span><i class="fa-solid fa-caret-down"></i></div>
    </div>
  </div>
  <div class="category-box">
  <div class="category-header books">Books</div>
    <div class="list-box">
      <ul>
        <li class="item">
          <form class="item-form" action="/" method="POST">
            <button><i class="fa-solid fa-square-check"></i></button><div class="item-divider"><span>Need Item Name Here</span><div><img class="grip" src="/images/gripIcon-01.png"></div></div>
          </form>
        </li>
        <li class="item">
          <form class="item-form" action="/" method="POST">
            <button><i class="fa-solid fa-square-check"></i></button><div class="item-divider"><span>Need Item Name Here</span><div><img class="grip" src="/images/gripIcon-01.png"></div></div>
          </form>
        </li>
      </ul>
      <div class="category-footer books"><span>more</span><i class="fa-solid fa-caret-down"></i></div>
    </div>
  </div>
  <div class="category-box">
  <div class="category-header products">Products</div>
    <div class="list-box">
      <ul>
        <li class="item">
          <form class="item-form" action="/" method="POST">
            <button><i class="fa-solid fa-square-check"></i></button><div class="item-divider"><span>Need Item Name Here</span><div><img class="grip" src="/images/gripIcon-01.png"></div></div>
          </form>
        </li>
        <li class="item">
          <form class="item-form" action="/" method="POST">
            <button><i class="fa-solid fa-square-check"></i></button><div class="item-divider"><span>Need Item Name Here</span><div><img class="grip" src="/images/gripIcon-01.png"></div></div>
          </form>
        </li>
      </ul>
      <div class="category-footer products"><span>more</span><i class="fa-solid fa-caret-up"></i></div>
    </div>
  </div>
  </div>
  <!-- LEFT UPDATE ITEM IN CASE YOU ARE STILL USING IT
  <br/>
  <br/>
<h3>update item</h3>
  <form class="form-inline" action="/items/1" method="POST">
    <div>
      <label>Enter category:</label>
      <input
        type="text"
        name="category"
      />
      <button type="submit" >Submit</button>
    </div>
  </form>
<h3>delete item</h3>
  <form class="form-inline" action="/items/2/delete" method="POST">
    <div>
      <button type="submit" >Delete</button>
    </div>
  </form>
  <h3>login</h3>
  <form class="form-inline" action="/login" method="POST">
    <div>
      <label>Email:</label>
      <input
        type="text"
        name="email"
      />
      <label>Password:</label>
      <input
        type="text"
        name="password"
      />
      <button type="submit" >Login</button>
    </div>
  </form> -->

</body>

</html>
