<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('partials/temp_more_header') %>

<body>
  <%- include('partials/nav') %>

<div class="container" id="container-name1">
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
  </ul>
  <div class="category-footer">more <i class="fa-solid fa-caret-down"></i></div>
  <div class="category-footer-open hidden">more<i class="fa-solid fa-caret-up"></i></div>
</div>
<div class="container" id="container-name2">
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
  </ul>
  <div class="category-footer">more <i class="fa-solid fa-caret-down"></i></div>
  <div class="category-footer-open hidden">more<i class="fa-solid fa-caret-up"></i></div>
</div>


</body>
