$nav-color: mediumaquamarine;
$restaurants-color: lightseagreen;
$movies-color: cornflowerblue;
$books-color: darkorchid;
$products-color: darkslateblue;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: white;
}

#login-button {
  border: 0;
  background: none;
  box-shadow: none;
  color: white;
  font-size: 18px;
}

.item_entry {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
}

.add-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0;
  margin-top: 10px;
}

#item-input {
  width: 100%;
  border-radius: 4px;
  border-style: solid;
  border-color: lightgray;
  background: rgb(235, 235, 235);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#add-button {
  width:fit-content;
  border: 0;
  border-radius: 4px;
  background: $nav-color;
  box-shadow: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-form{
  display: flex;
  flex-direction: row;
}

.item-divider {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item {
  border: 1px solid $nav-color;
  border-radius: 4px;
  padding: 3px;
  margin: 5px;
  align-items: center;
}

li button {
  border: 0;
  background: none;
  box-shadow: none;
  color: $nav-color;
  font-size: 24px;
}

.navbar {
  display: flex;
  background: $nav-color;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
}

.category-box {
  width: calc(100% - 20px);
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 5px;
}

.category-header {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

}

.category-footer {
  display: flex;
  color: white;
  justify-content: center;

}

.grip {
  height: 16px;
  padding-right: 6px;
}

.restaurants {
  border-color: $restaurants-color;
  background: $restaurants-color;
}

.movies {
  border-color:$movies-color;
  background: $movies-color;
}

.books {
  border-color: $books-color;
  background: $books-color;
}

.products {
  border-color:$products-color;
  background: $products-color;
}
