$font-stack: 'Roboto', normal;
$nav-color: mediumaquamarine;
$restaurants-color: lightseagreen;
$movies-color: cornflowerblue;
$books-color: darkorchid;
$products-color: darkslateblue;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: white;
}

#loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
}
#loading img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.animbox img {
  width: 50px;
  height: 50px;
}

#login-button {
  border: 0;
  background: none;
  box-shadow: none;
  color: white;
  font-family: $font-stack;
  font-size: 18px;
}

.item_entry {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
}

.add-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0;
  margin-top: 10px;
  font-family: $font-stack;
}

#item-input {
  width: 100%;
  border-radius: 4px;
  border-style: solid;
  border-color: lightgray;
  background: rgb(235, 235, 235);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: $font-stack;
}

#add-button {
  width: fit-content;
  border: 0;
  border-radius: 4px;
  background: $nav-color;
  box-shadow: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-family: $font-stack;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.item-form {
  display: flex;
  flex-direction: row;
}

.item-divider {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item {
  border: 1px solid $nav-color;
  border-radius: 4px;
  padding: 3px;
  margin: 5px;
  align-items: center;
  font-family: $font-stack;
}

li button {
  border: 0;
  background: none;
  box-shadow: none;
  color: $nav-color;
  font-size: 24px;
  font-family: $font-stack;
}

.navbar {
  display: flex;
  background: $nav-color;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
}

.category-box {
  width: calc(100% - 20px);
  border: 1px solid lightgray;
  margin: 5px;
}

.category-header {
  width: 100%;
  font-size: 24px;
  font-family: $font-stack;
  font-weight: 500;
  color: white;
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

}

.category-footer,
.category-footer-open {
  display: flex;
  color: white;
  justify-content: center;
  font-family: $font-stack;

}

.grip {
  height: 16px;
  padding-right: 6px;
}

.restaurants {
  border-color: $restaurants-color;
  background: $restaurants-color;
}

.movies {
  border-color: $movies-color;
  background: $movies-color;
}

.books {
  border-color: $books-color;
  background: $books-color;
}

.products {
  border-color: $products-color;
  background: $products-color;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .categories {
    flex-direction: row;
    align-items: flex-start;
  }

  .add-form {
    flex-direction: row;
  }

  #item-input {
    width: calc(50% - 5px);
  }

  #add-button {
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .category-footer {
    display: none;
  }

  .category-footer-open {
    display: none;
  }

  ul {
    min-height: 48px;
  }
}
